body {
    background-color: #222222;
    color: white;
}

/* Add this rule to make the text color white in the navbar */
.navbar {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

/* Custom styles for the navbar-toggler-icon */
.custom-toggler-icon {
    width: 30px;
    height: 30px;
}

/* Ensure dropdown menu items are visible */
.dropdown-menu {
    background-color: gray;
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

/* Ensure dropdown toggle text is visible */
.nav-link.dropdown-toggle {
    color: white;
}

.logo-container {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo-image {
    max-width: 100%;
    animation: spin-and-fade-in 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

/* Add margin to the top of the content to ensure it appears below the image */
.content {
    margin-top: 150px;
    /* Increase the value to ensure content appears below the image */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logo-container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-top: 20px;
    }

    .content {
        margin-top: 150px;
        /* Adjust this value as needed for mobile devices */
    }
}

.spin-image {
    width: 200px;
    height: auto;
    opacity: 0;
    animation: spin-and-fade-in 2s ease-in-out forwards;
}

@keyframes spin-and-fade-in {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}